/* index page */

/* navbar */
#bg-color{
    /* background-color: #313c42; */
    background-color: #050505ab;
    color:rgb(255, 255, 255);
}

/* fullpage */
html, body{
    height:100%;
    width:100%;
}


.header {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.cover-his{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://travel.mthai.com/app/uploads/2015/11/12241335_10205562847493960_1475964416873773825_n.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.cover-travel-1{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://travel.mthai.com/app/uploads/2015/11/12241335_10205562847493960_1475964416873773825_n.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.his-content p{
    padding: 10px;
}

.travel1{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(pic/bg-test.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.travel2{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(pic/วัดพระบรมธาตุ_7.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.travel3{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(pic/_DSC1088ดอยหัวหมด_1384928528.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.travel4{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(pic/20150930-0008284.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.vertical-center-2 {
    display: table-cell;
    vertical-align: middle;
}

.nav-link{
    color: Black;
    text-decoration:none;
}
.navbar{
    overflow: hidden;
    position: fixed;
    z-index: 1;
}

.thai-logo{
    border-color: white;
    border-width: 2px;
}

/* bg video */
#bgvid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}
 
/* video pop-up */
.modal-dialog{
    width: 80%;
}
/* place */

.item1{
    background-image:linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), url(pic/bg-test.jpg); 
    border-radius: 6px;
    background-size: cover;
    background-repeat: no-repeat;
    color: #69696900;
    padding: 12px;
    margin: 20px 10px 20px;
    transition: all .2s ease;
}

.item1:hover{
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) ), url(pic/bg-test.jpg); 
    box-shadow: 0 0 20px 0px #aaaaaa;
    color: #fff;
    cursor: pointer;
    font: inherit;
    transform: scale(1.05);
    
}
.item1:active{
    box-shadow: 0 0 40px 0px #aaaaaa;
    /* transform: translateY(5px); */
    /* transition: all 200ms ease-in; */
    transform: scale(1.1);
}

.item2{
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), url(pic/วัดพระบรมธาตุ_7.jpg); 
    border-radius: 6px;
    background-size: cover;
    background-repeat: no-repeat;
    color: #69696900;
    padding: 12px;
    margin: 20px 10px 20px;
    transition: all .2s ease;
}

.item2:hover{
    background-image:linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) ), url(pic/วัดพระบรมธาตุ_7.jpg); 
    box-shadow: 0 0 20px 0px #aaaaaa;
    color: #fff;
    cursor: pointer;
    font: inherit;
    transform: scale(1.05);
    
}
.item2:active{
    box-shadow: 0 0 40px 0px #aaaaaa;
    /* transform: translateY(5px); */
    /* transition: all 200ms ease-in; */
    transform: scale(1.1);
}

.item3{
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), url(pic/_DSC1088ดอยหัวหมด_1384928528.jpg); 
    border-radius: 6px;
    background-size: cover;
    background-repeat: no-repeat;
    color: #69696900;
    padding: 12px;
    margin: 20px 10px 20px;
    transition: all .2s ease;
}

.item3:hover{
    background-image:linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) ), url(pic/_DSC1088ดอยหัวหมด_1384928528.jpg); 
    box-shadow: 0 0 20px 0px #aaaaaa;
    color: #fff;
    cursor: pointer;
    font: inherit;
    transform: scale(1.05);
    
}
.item3:active{
    box-shadow: 0 0 40px 0px #aaaaaa;
    /* transform: translateY(5px); */
    /* transition: all 200ms ease-in; */
    transform: scale(1.1);
}

.item4{
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), url(pic/20150930-0008284.jpg); 
    border-radius: 6px;
    background-size: cover;
    background-repeat: no-repeat;
    color: #69696900;
    padding: 12px;
    margin: 20px 10px 20px;
    transition: all .2s ease;
}

.item4:hover{
    background-image:linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) ), url(pic/20150930-0008284.jpg); 
    box-shadow: 0 0 20px 0px #aaaaaa;
    color: #fff;
    cursor: pointer;
    font: inherit;
    transform: scale(1.05);
    
}
.item4:active{
    box-shadow: 0 0 40px 0px #aaaaaa;
    /* transform: translateY(5px); */
    /* transition: all 200ms ease-in; */
    transform: scale(1.1);
}

.place:hover{
    background: #696969;
    border-radius: 6px;
    box-shadow: 0 0 20px 0px #aaaaaa;
    color: #fff;
    cursor: pointer;
    font: inherit;
    transform: scale(1.05);
    
}
.place{
    transition-property: background, border-radius;
    transition-duration: .2s, 1s;
    transition-timing-function: linear;
    padding: 12px;
    margin: 20px 10px 20px;
    transition: all .2s ease;
}

.place:hover{
    background: #696969;
    border-radius: 6px;
    box-shadow: 0 0 20px 0px #aaaaaa;
    color: #fff;
    cursor: pointer;
    font: inherit;
    transform: scale(1.05);
    
}

.place:active{
    box-shadow: 0 0 40px 0px #aaaaaa;
    /* transform: translateY(5px); */
    /* transition: all 200ms ease-in; */
    transform: scale(1.1);
}

.place:hover img{
    border-color: white;
    border-width: 2px;
}

.video{
    transition: all .2s ease;
    
}
.video:hover{

    cursor: pointer;
    font: inherit;
    transform: scale(1.05);
}

.footer{
    height: 150px;
    background-color: #000000;
}

/* .inner-sha {
    -moz-box-shadow:    inset 0 0 20px #000000;
    -webkit-box-shadow: inset 0 0 20px #000000;
    box-shadow:         inset 0 0 20px #000000;
 } */

 .hor-cen{
    width:100%;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.learn{
    height: 6vh;
    background-color:white;
    color: black;
    border-radius: 10px;
    transition: 0.3s ease;
    transform: scale(1);
}



.learn:hover{
    /* background-color: #696969; */
    box-shadow: 0 0 20px 0px #aaaaaa;
    /* color: #fff; */
    cursor: pointer;
    font: inherit;
    transform: scale(1.05);
    
}

.learn:active{
    box-shadow: 0 0 40px 0px #aaaaaa;
    /* transform: translateY(5px); */
    /* transition: all 200ms ease-in; */
    transform: scale(1.1);
}


/*  */
#hero-wrapper {
    height: 100%;
    width: 100%;
    position: fixed;
  }
  
  #hero-wrapper .carousel-wrapper,
  #hero-carousel {
    height: 100%;
    width: 100%;
    position: absolute;
  }
  
  #hero-carousel img{
      left: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      max-width: none;
      width: auto;
      height: auto;
    

  }
  #hero-carousel i {
    position: absolute;
    top: 50%;
  }

  
  
/*  */